<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Personnal style -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Display Trips</title>
</head>
<body>
    
    <%- include('header'); %>
<% if (trips[0] !== undefined) { %>
    <div class="col-6 mx-auto content">
        <h2 class="ml-5 mb-4">Tickets available on <%= dateFormat(date) %> :</h2>
    </div>
    <div class="col-6 mx-auto">
        <ul class="list-group">
            <% for (let i = 0; i < trips.length; i++) { %>
                <% let time;
                    if (parseInt(trips[i].departureTime.replace(':', '')) > 1200) {
                    time = 'pm'
                } else {
                    time = 'am'
                } %>

                <li class="list-group-item d-flex justify-content-between align-items-center p-4">
                    <h4><%= `${trips[i].departure} / ${trips[i].arrival}` %></h4>
                    <div>
                        <p class="text-secondary">Your departure at : <%= trips[i].departureTime + time %></p>
                    </div>
                    <div class="row">
                        <h5 class="mr-4"><%= trips[i].price %>€</h5>
                        <a href="/checkout?id=<%= trips[i]._id %>" class="mr-4">
                            <button class="btn btn-danger">OK</button>
                        </a>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
<% } else { %>
    <div class="col-6 mx-auto d-flex align-items-center justify-content-center flex-column mt-5">
        <h2>Oops no train available !</h2>
        <a href="/home" class="mt-4">
            <button class="btn btn-danger">Home</button>
        </a>
    </div>
<% } %>
<footer>
    <p>&#169; 2019 LaCapsule</p>
  </footer>
</body>
</html>